<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Leads-Audacia">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Ip</Data></Cell>
        <Cell><Data ss:Type="String">Tipo</Data></Cell>
        <Cell><Data ss:Type="String">Data-Hora</Data></Cell>
      </Row>
    <% @leads.each do |lead| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= lead.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.fullname %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= lead.ip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= lead.tipo %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= lead.data_hora %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
