<div class="container text-center">
  <h1>Painel Admin</h1>
  <h2>CONTAGEM DE LEADS!</h2>
  <h3><%= @progress %>/1000 leads!</h3>
  <div class="progress-bar">
    <div class="row">
      <div class="col-12">
        <div class="bar">
          <% 100.times do |i| %>
            <div class="fraction <%= "fill" if @progress >= (i+1)*10 %>">

            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="admin-buttons-container">
    <%= link_to "Criar Post", new_post_path, class: "btn btn-primary" %>
    <%= link_to "Relatorio de Leads em CSV", leads_path(format: "csv"), class: "btn btn-info" %>
    <%= link_to "Relatorio de Leads em Excel", leads_path(format: "xls"), class: "btn btn-success" %>
  </div>

  <div class="leads-chart">
    <h3> Leads por hora: </h3>
    <%= line_chart Lead.group_by_hour(:created_at).count %>
  </div>
</div>
<% content_for(:after_js) do %>

<% end %>
