<div class="banner">
  <div class="banner-text">
    <h1>Empreend: para todo end tem um novo start</h1>
    <p>O portal para o novo empreendedor: dicas, curiosidades e tudo o que você precisa saber!</p>
  </div>
</div>

<div class="container-fluid">

  <%= render 'shared/ebox' %>

  <h2 class="second-header">Mais artigos</h2>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-sm-6 text-center">
        <%= link_to post_path(display_url: post.display_url) do %>
          <div class="post-card">
            <div class="card-image" style="background-image: url(<%= post.primary_photo.url %>) !important;"></div>
            <div class="card-content">
              <p class="post-author"><%= post.user.first_name %> | <%= post.created_at.strftime('%b %d, %Y') %></p>
              <h3 class="post-title"><%= post.title %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render(:partial => 'shared/ebook', :handlers => [:erb], :formats => [:js]) %>
  <% end %>
<% end %>


<!-- Modal -->

<%= render 'shared/modal' %>
