<div class="banner">
  <div class="banner-text">
    <h1>Empreend: para todo end tem um novo start</h1>
    <p>O portal para o novo empreendedor: dicas, curiosidades e tudo o que você precisa saber!</p>
  </div>
</div>

<div class="container-fluid">

  <div id="ebook-box" class="fixed-ebook">
    <div class="ebook-info text-center">
      <h2>BAIXE AQUI o nosso ebook: "Decole como MEI em 2019"</h2>
      <p>Gratuito até 15/02/19</p>
    </div>
    <div class="form-box">
      <%= form_for(@lead) do |f| %>
        <div class="row">

          <div class="col-12 col-md-6 col-lg-3">
            <div class="form-group row">
              <%= f.label :nome, class: "col-lg-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :nome, class: 'form-control field' %>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="form-group row">
              <%= f.label :sobrenome, class: "col-lg-3 col-form-label" %>
              <div class="col-sm-9">
                <%= f.text_field :sobrenome, class: 'form-control field' %>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-2">
            <div class="form-group row">
              <%= f.label :email, class: "col-lg-2 col-form-label" %>
              <div class="col-sm-10">
                <%= f.text_field :email, class: 'form-control field' %>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-2">
            <div class="form-group">
              <%= f.label :Tipo %>
              <%= f.select :tipo, [["Quero Empreender", "B2C"], ["Sou Empreendedor", "B2B"]] %>
            </div>
          </div>
          <%= f.hidden_field :ip, class: 'form-control', value: request.remote_ip %>

          <div class="col-12 col-md-6 col-md-offset-3  col-lg-2">
            <input type="submit" name="commit" value="Baixar e-book" class="btn btn-info" data-disable-with="Validando">
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="second-header">Mais artigos</h2>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-sm-6 text-center">
        <%= link_to post_path(display_url: post.display_url) do %>
          <div class="post-card">
            <div class="card-image" style="background-image: url(<%= post.primary_photo.url %>) !important;"></div>
            <div class="card-content">
              <p class="post-author"><%= post.user.first_name %> | <%= post.created_at.strftime('%b %d, %Y') %></p>
              <h3 class="post-title"><%= post.title %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
