<div class="container-fluid">

	<!-- Banner -->
	<div class="event-main-banner">
		<div class="event-banner-content">
			<%= image_tag 'logo_evento_cinza.png' %>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
			<%= link_to "Fazer inscrição", root_path, class: 'event-banner-button' %>
		</div>
	</div>

	<!-- Evento -->

	<div id="evento">
		<%= image_tag 'o_evento.png', class: 'evento-imagem' %>
		<div class="evento-content">
			<h2>O evento</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur impedit ducimus, quia corporis quo enim blanditiis, quis mollitia tenetur neque obcaecati culpa unde omnis ullam praesentium dolorum expedita aut numquam.</p>
			<div class="ong-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, alias, laudantium! Facere perspiciatis atque beatae. </p>
				<%= image_tag 'teto.png', class: 'ong-logo'%>
			</div>
		</div>
	</div>

	<!-- Foco -->

	<div id="foco">
		<h2 class="text-center">Focamos em:</h2>
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<div class="features">
					<%= image_tag 'empreendedores.png' %>
					<h4>Empreendedores</h4>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque minus nam, odio. Quas laboriosoluptatem assumenda. </p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="features">
					<%= image_tag 'beginner.png' %>
					<h4>Empreendedores beginner</h4>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsum, porro. Reiciendis, facilis!</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="features">
					<%= image_tag 'quer_empreender.png' %>
					<h4>Quem quer empreender</h4>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus atque beatae quisquam distinctrerum laboriosam. </p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="features">
					<%= image_tag 'networking.png' %>
					<h4>Quem busca networking</h4>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, sit. Odit fugiat sapiente atque naibus ducimus temporibus. </p>
				</div>
			</div>
		</div>
	</div>

	<!-- Convidados especiais -->

	<div id="convidados">
		<h2>Convidados especiais</h2>
		<row>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="img-convidados">
					<div class="img-content"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="img-convidados">
					<div class="img-content"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="img-convidados">
					<div class="img-content"></div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="img-convidados">
					<div class="img-content"></div>
				</div>
			</div>
		</row>
	</div>

	<!-- Cronograma -->

	<div id="cronograma">
		<h2>Cronograma</h2>

		<div class="col-12 col-sm-6 col-md-3">
			<p>Boas-vindas - 18h30</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<p>Bate-papo - 19h30</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<p>Happy Hour - 21h30</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<p>Encerramento - 22h30</p>
		</div>
	</div>
	
	<!-- Faça sua inscrição! -->

	<div id="inscricao">
		<h2>Faça sua inscrição</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam recusandae, fugit ea reprehenderit officia exercitationem. Ut suscipit, est quasi consequatur voluptatibus, tempore ipsa aut debitis molestiae iusto dolore quisquam, ducimus.</p>
		<h4></h4>
		<a href="" class="banner-button">Fazer inscrição</a>

	</div>

	<!-- Local -->

	<div id="local">
		<h2>Local do evento</h2>
		<div class="map-box">
			<p>Rua bla</p>
			<img src="" alt="Mapa">	
		</div>
	</div>

	<!-- Parceiros -->

	<div id="parceiros">
		<h2>Parceiros</h2>
	</div>

</div>